<% if @shapes.first.present? %>
  <% @shapes.each do |shape| %>
    <% if shape == @shapes.last %>
      <div>
        <strong>Shape Version: </strong>
        <br/>Version <%= shape['version'] %>
        <small>
          <%= link_to "Request a copy for review", member_shape_list_path(
          shapes: @shapes ,
          member_id: @member_id ,
          code: @code ,
          group_id: @group,
          code: @code) %>
        </small>
      </div>
      <div>
        <strong>Created By: </strong>
        <br/><%= shape['created_by'] %>
      </div>
      <div>
        <strong>Created On: </strong>
        <br/><%= Date.parse(shape['created']).strftime("%m/%d/%Y") %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div>
    <strong>No Shape Files Available</strong>
  </div>
<% end %>