<%= render partial: 'nav' %>
<p id="notice"><%= notice %></p>


<%= link_to 'New Billing Contact', new_billing_contact_path %>
<style type="text/css">#footer{position: fixed;width: 100%;
  bottom: 0;}</style>