<div class="col-xl-4 col-lg-6" style="padding-bottom: 25px !important">
	<div class="card" style="width: 18rem; ">
  		<div class="card-header" >
  			<h6 style="padding-top: 10px !important;">
			<%= link_to code.code, code %>
		</h6>
		</div>

		<p class="card-text">
			Name: 
			<%= code.name %>
		</p>
		<p class="card-text">
			Facility Type: 
			<%= code.facility_type %>
		</p>
		<p>
			Destination: 
			<%= code.destination %>
		</p>
	

	</div>
</div>
