<div class="col-xl-4 col-lg-6" style="padding-bottom: 25px !important">
	<div class="card" style="width: 18rem;">
  		<div class="card-header">
			<%= link_to contact.contact_type, edit_contact_path(contact) %>
		</div>

	<p class="card-text">
		Name: <%= contact.name %>
	</p>
	<p class="card-text">
		Phone: <%= contact.phone %>
	</p>
	<p class="">
		Email: <%= contact.email %>
	</p>

	</div>
</div>