<p id="notice"><%= notice %></p>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3">
      <%= link_to 'New Concerned Citizen Ticket', new_concerned_citizen_ticket_path(type: 'concerned_citizen') %>
      <br/>
      <br/>
      <br/>
    </div>
    <div class="col-md-3">
      <%= link_to 'New Cross Bore Ticket', new_concerned_citizen_ticket_path(type: 'cross_bore') %>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>