    </div>
  </div>


  	<div class="nav-item dropdown">
  		
  		<a class="nav-link " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag("person.svg", :width => "40", :style => '-webkit-filter:invert(100%);
        filter:invert(100%);')%></a>
    	<div class="dropdown-menu dropdown-menu-right" >
  		<%= link_to 'Sign in', new_user_session_path, class: 'dropdown-item' %>
  		<%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
		</div>
	</div>


</div>
</nav>